@model Daily.Service.Services.DailyTasks.Models.TaskCreateModel

@{
    ViewData["Title"] = "Create Task";
}

<h1>Create Task</h1>

@if (ViewBag.ExceptionMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ExceptionMessage
    </div>
}

<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Name -->
            <div class="form-group mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
            </div>          


            <!-- Description -->
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>

            <!-- Status -->
            <div class="form-group mb-3">
                <label asp-for="Task_Status" class="control-label"></label>
                <select asp-for="Task_Status" class="form-select">
                    <option value="Pending">Pending</option>
                    <option value="InProgress">In Progress</option>
                    <option value="Completed">Completed</option>
                    <option value="Canceled">Canceled</option>
                </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Save</button>
                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
